{% extends "FormationLerningBundle::layout.html.twig" %}
{% block body %}
<section class="container">
    <h1>Voilà la Galérie</h1>
 <ul class="row first">
   {% for chemain in imgList %}
       <li class="col-sm-4 col-xs-4">
        <figure>
            <img class="img-responsive"  src="{{ sourceWeb ~ chemain }}">
        </figure>
        </li>
   {% endfor %}
  </ul>
</section>
{% endblock%}