{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "FormationLerningBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}

  <section class="container">
    <header>
        <h1>Bienvenu sur mon site de Symfony </h1>
        <figure class="myImg">
            <figcaption>
                <p>Je m'appelle {{ name }}</p>
            </figcaption>
            <img src="{{ sourceWeb }}img/moi.png"></img>
        </figure>
    </header>
    <section class="myCar">
        <p>Voilà ma voiture</p>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
        
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="{{ sourceWeb }}img/carousel/car-1.jpg" alt="Chania">
            </div>
        
            <div class="item">
              <img src="{{ sourceWeb }}img/carousel/car-2.jpg" alt="Chania">
            </div>
        
            <div class="item">
              <img src="{{ sourceWeb }}img/carousel/car-3.jpg" alt="Chania">
            </div>
          </div>
        
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </section>
</section>
{% endblock %}