    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Site simple</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for valeur in menuList %}
                {% if loop.first %}
                    <li class="active"><a href="{{valeur}}">{{ valeur|title }}</a></li>
                {% else %}
                    <li><a class="active" href="{{valeur}}">{{ valeur|title }}</a></li>
                {% endif %}
            {% endfor %}  
              
              
            <!--<li class="active"><a href="?page=accueil">Accueil</a></li>
            <li><a href="?page=galerie">Galerie</a></li>
            <li><a href="?page=contact">Contact</a></li>
            <li><a href="?page=newsletter">Newsletter</a></li>
            <li><a href="?page=login">login</a></li>-->
            {% if admin is defined %}
            <li><a style="color:red;" href="?page=workspace">Workspace</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>