{% extends "FormationLerningBundle::layout.html.twig" %}
{% block body %}
<form class="form-horizontal container" role="form" id="newsletterForm">
<fieldset>
    <legend>Choice an newsletter:</legend>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Type the name of newsletter:</label>
        <div class="col-sm-10"> 
          <input type="text" class="form-control" name="message" placeholder="message">
        </div>
      </div>
      <div class="form-group"> 
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
<fieldset>
</form>
<ul id="newsletterList">
  
</ul>
{% endblock%}