{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}
{% set sourceWeb = asset('') %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta charset={% block encoding %}"utf-8"{% endblock %}>
    <title>{% block title %}simpleSite{% endblock %}</title>
    {% block styles %}
    {# app/Resources/views/layout.html.twig #}
      {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        {% stylesheets '@FormationLerningBundle/Resources/public/css/*' filter='yui_css' %}
          <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
      {% endblock %}
    
    {% endblock %}
  </head>
  <body>
    {{ render(controller("FormationLerningBundle:Default:menu")) }}

    {% block body %}

    {% endblock %}


    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="{{ sourceWeb }}js/jquery-1.11.2.min.js"><\/script>')</script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src="{{ sourceWeb }}js/jquery.bsPhotoGallery.js"></script>
      <script type="text/javascript" src="{{ sourceWeb }}js/script.js"></script>
   {#   {% javascripts  
      '@FormationLerningBundle/Resources/public/js/jquery.bsPhotoGallery.js'
      '@FormationLerningBundle/Resources/public/js/newsletter.js'
      '@FormationLerningBundle/Resources/public/js/script.js'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %} #}
     
    {% endblock %}
    
{{ include('FormationLerningBundle:Default:footer.html.twig')}}
  </body>
</html>