{# src/OC/CoreBundle/Resources/views/Accueil/index.html.twig #}

{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Les trois dérniers annonces:</h2>

  <ul>
    {% for advert in listAdverts %}

        <li>
          <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
            {{ advert.title }}
          </a>
          par {{ advert.author }},
          le {{ advert.date|date('d/m/Y') }}
        </li>

    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>
  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-warning" role="alert">Message flash : {{ message }}</p>
  {% endfor %}
{% endblock %}
