{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Test</title>

  {% block stylesheets %}
    {# On charge le CSS de bootstrap depuis le site directement #}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  {% endblock %}
</head>

<body>
  <h1>{{ list2 }}</h1>
  <div class="container">{% set ttt ='azert12345678' %}
    <ul>
      {% if list is defined %}
        {% for obj in list %}
          <li><p>{{obj.title }} -- </p>
            {% for key in obj  %}
            <span> | value = {{ key }} name = {{ key }} </span>
            <span> | value = {{ obj.key }} name = {{ obj.key }} </span>
            {% endfor %}

          </li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
  
    <footer>
      <p>The sky's the limit © {{ 'now'|date('Y') }} and beyond.</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>